@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
  --square-gap-default: calc(0.25em + 4px);
  --square-gap-reduced: 0.25em;
  --max-width: calc(100vw - 1em);
  --max-height: calc(100vh - 2em);
} 

body {
  font-family: "Nova Square", cursive;
  color: red;
  background-image: url("../images/bg-img-grey.png");  
  background-position: center;
  margin: 1em 0.5em;
  width: calc(var(--max-width));
  height: calc(var(--max-height));
  display: grid;
  align-content: center;
}

h1 {
  padding: 0 0.2em;
}

button {
  background-color: lime;
  border-radius: 20%;
  color: red;
  font-family: 'Nova Square', cursive;
}

:focus-visible {
  outline: red solid 3px;
}

/* 
Method to remove arrows on number inputs begins here
(taken from https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Method to remove arrows on number inputs ends here */

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: not-allowed;
}

.centered-text-box {
  background-color: black;
  width: fit-content;
  margin: auto;
}

.square {
  border: 1px solid white;
  border-radius: 10%;
  display: inline-block;
}

.square-grid-initial {  
  width: calc(calc(100% / 4) - var(--square-gap-default));
  padding-top: calc(calc(100% / 4) - var(--square-gap-default));
}

.square-grid-4x4 {  
  width: calc(calc(100% / 4) - var(--square-gap-default));
  padding-top: calc(calc(100% / 4) - var(--square-gap-default));
  margin: 0 2px;
}

.square-grid-5x5 {  
  width: calc(calc(100% / 5) - var(--square-gap-default));
  padding-top: calc(calc(100% / 5) - var(--square-gap-default));
  margin: 0 2px;
}

.square-grid-6x6 {  
  width: calc(calc(100% / 6) - var(--square-gap-default));
  padding-top: calc(calc(100% / 6) - var(--square-gap-default));
  margin: 0 2px;
}

.square-grid-7x7 {  
  width: calc(calc(100% / 7) - var(--square-gap-default));
  padding-top: calc(calc(100% / 7) - var(--square-gap-default));
  margin: 0 2px;
}

.square-grid-8x8 {  
  width: calc(calc(100% / 8) - var(--square-gap-default));
  padding-top: calc(calc(100% / 8) - var(--square-gap-default));
  margin: 0 2px;
}

.square-grid-9x9 {  
  width: calc(calc(100% / 9) - var(--square-gap-default));
  padding-top: calc(calc(100% / 9) - var(--square-gap-default));
  margin: 0 2px;
}

.square-grid-10x10 {  
  width: calc(calc(100% / 10) - var(--square-gap-default));
  padding-top: calc(calc(100% / 10) - var(--square-gap-default));
  margin: 0 2px;
}

.square-grid-11x11 {  
  width: calc(calc(100% / 11) - var(--square-gap-default));
  padding-top: calc(calc(100% / 11) - var(--square-gap-default));
  margin: 0 2px;
}

.square-grid-12x12 {  
  width: calc(calc(100% / 12) - var(--square-gap-reduced));
  padding-top: calc(calc(100% / 12) - var(--square-gap-reduced));
  margin: 1px;
}

.square-grid-13x13 {  
  width: calc(calc(100% / 13) - var(--square-gap-reduced));
  padding-top: calc(calc(100% / 13) - var(--square-gap-reduced));
  margin: 1px;
}

.square-grid-14x14 {  
  width: calc(calc(100% / 14) - var(--square-gap-reduced));
  padding-top: calc(calc(100% / 14) - var(--square-gap-reduced));
  margin: 0 1px;
}

.square-grid-16x16 {  
  width: calc(calc(100% / 16) - var(--square-gap-reduced));
  padding-top: calc(calc(100% / 16) - var(--square-gap-reduced));
  margin: 0 1px;
}

.square-grid-18x18 {  
  width: calc(calc(100% / 18) - var(--square-gap-reduced));
  padding-top: calc(calc(100% / 18) - var(--square-gap-reduced));
  margin: 0 1px;
}

.square-grid-20x20 {  
  width: calc(calc(100% / 20) - var(--square-gap-reduced));
  padding-top: calc(calc(100% / 20) - var(--square-gap-reduced));
  margin: 0 1px;
}

.gray-square {
  background-color: #404040;
}

.green-square {
  background-color: lime;
}

.red-square {
  background-color: red;
}

.menu-top {
  font-size: 1.5em;
  padding: 0 0.5em;
  margin: 0 auto;
}

.menu-btm {
  font-size: 1em;
  margin: 0;
}

#mute-toggle {
  display: none;
}

#mute-toggle-label {
  position: absolute;
  left: 1vw;
  top: 1vw;
  margin-top: 0.25rem;
  font-size: 2em; 
}

#help-icon {
  position: absolute;
  right: 1vw;
  top: 1vw;
  margin-top: 0.25rem;
  font-size: 2em; 
}

#sigma {
  font-size: 0.75em;
}

#instructions-container {
  margin: auto auto;
  text-align: center;
  padding: 0.5em;
  background-color: black;
  border-radius: 3%;
  z-index: 1;
  max-width: 70vh;
  left: 10vw;
  border-radius: 3%;
}

#help-exit {
  margin-top: 0.5em;
}

#game-rotate-container > p {
  background-color: black;
  width: max-content;
  margin: 1em auto;
}

#squares-container {
  margin: 1vh auto;
  max-width: 56vh;
  position: relative;
  text-align: center;
  padding: 0.5em;
  background-color: black;
  border-radius: 3%;
}

#center-nums {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#player-start-input {
  --width: 50%;
  --height: 50%;
  --border-width: 10px;
  width: var(--width);
  height: var(--height);
  bottom: calc(50% - (var(--height) / 2) - var(--border-width));
  position: absolute;
  left: calc(50% - (var(--width) / 2) - var(--border-width));
  font-size: 1em;
  background-color: black;
  border-radius: 10%;
  border: var(--border-width) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player-start-input p {
  margin: auto;
  padding: 0 1em;
}

#go {
  font-size: inherit;
  margin-bottom: 10%;
}

#player-answer {
  width: 50%;
  display: block;
  margin: auto;
  font-size: inherit;
  text-align: center;
}

#player-submit {
  background-color: lime;
  color: red;
  font-family: 'Nova Square', cursive;
  font-size: inherit;
  border-radius: 20%;
  margin-bottom: 0.5em;
}

#bottom-text-container {
  text-align: center;
  width: calc(var(--max-width));
}

/* Media queries begin here */

@media screen and (min-width: 426px) {

  .menu-btm {
    font-size: 2em;
    margin: 0;
  }

  .menu-top {
    font-size: 2.5em;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 3em;
  }
  
  #mute-toggle-label,
  #help-icon {
    font-size: 3em;
  }

}

@media screen and (max-height: 472px) {

  .square-grid-11x11 {
    margin: 0 3px;
  }

}

@media screen and (max-width: 500px) {
  
  #player-submit {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 768px) {

  #how-to,
  #exit,
  #replay {
    padding-top: 1em;
  }

}

@media screen and (min-width: 769px) {

  #instructions-container {
    font-size: 1.5em;
    margin: 1em auto;
  }

}

@media screen and (min-width: 1441px) {

  #player-start-input {
    font-size: 1.5em;
  }

}

/* Media queries end here */