@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
  --square-gap-total: (0.25em + 4px);
} 

body {
  font-family: "Nova Square", cursive;
  color: red;
  background-image: url("../images/bg-img-grey.png");
  border-radius: 3%;
  background-size: cover;
  background-position: center;
}

.centered-text-box {
  background-color: black;
  width: fit-content;
  margin: 0.5em auto;
  border-radius: 10%;
}

.square {
  border: 1px solid white;
  border-radius: 10%;
  display: inline-block;
}

.square-grid-initial {  
  width: calc(calc(100% / 4) - var(--square-gap-total));
  padding-top: calc(calc(100% / 4) - var(--square-gap-total));
}

.square-grid-4x4 {  
  width: calc(calc(100% / 4) - var(--square-gap-total));
  padding-top: calc(calc(100% / 4) - var(--square-gap-total));
  margin: 0 2px;
}

.square-grid-6x6 {  
  width: calc(calc(100% / 6) - var(--square-gap-total));
  padding-top: calc(calc(100% / 6) - var(--square-gap-total));
  margin: 0 2px;
}

.square-grid-8x8 {  
  width: calc(calc(100% / 8) - var(--square-gap-total));
  padding-top: calc(calc(100% / 8) - var(--square-gap-total));
  margin: 0 2px;
}

.square-grid-10x10 {  
  width: calc(calc(100% / 10) - var(--square-gap-total));
  padding-top: calc(calc(100% / 10) - var(--square-gap-total));
  margin: 0 2px;
}

.square-grid-12x12 {  
  width: calc(calc(100% / 12) - var(--square-gap-total));
  padding-top: calc(calc(100% / 12) - var(--square-gap-total));
  margin: 0 3px;
}

.square-grid-14x14 {  
  width: calc(calc(100% / 14) - var(--square-gap-total));
  padding-top: calc(calc(100% / 14) - var(--square-gap-total));
  margin: 0 3px;
}

.square-grid-20x20 {  
  width: calc(calc(100% / 20) - var(--square-gap-total));
  padding-top: calc(calc(100% / 20) - var(--square-gap-total));
  margin: 0 3px;
}

.gray-square {
  background-color: white;
}

.green-square {
  background-color: lime;
}

.red-square {
  background-color: red;
}

#center-nums {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#help-icon {
  position: absolute;
  right: 1vw;
  top: 1vw;
  margin-top: 0.25rem;
}

#squares-container {
  margin: auto auto;
  max-width: 70vh;
  position: relative;
  text-align: center;
  padding: 0.5em;
  background-color: black;
  border-radius: 3%;
}

#player-start-input {
  --width: 50%;
  --height: 50%;
  --border-width: 10px;
  width: var(--width);
  height: var(--height);
  bottom: calc(50% - (var(--height) / 2) - var(--border-width));
  position: absolute;
  left: calc(50% - (var(--width) / 2) - var(--border-width));
  font-size: 1em;
  background-color: black;
  border-radius: 10%;
  border: var(--border-width) solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-start-input p {
  height: -webkit-fill-available;
}

#go {
  font-size: inherit;
  background-color: lime;
  border-radius: 20%;
  color: red;
  font-family: 'Nova Square', cursive;
  margin-top: 10%;
}

#bottom-text-container {
  text-align: center;
}

#start,
#timer,
#exit,
#continue {
  font-size: 1.5em;
  margin: 0;
}

#how-to,
#stage-number {
  font-size: 1em;
  margin: 0;
}

@media screen and (min-width: 400px) {

  h1 {
    font-size: 3em;
  }
  
  #help-icon {
    font-size: 3em;
  }

  #player-start-input {
    font-size: 2em;
  }

  #start,
  #timer,
  #exit,
  #continue {
  font-size: 2.5em;
  margin: 0;
  }

  #how-to,
  #stage-number {
    font-size: 2em;
    margin: 0;
  }

}

@media screen and (min-width: 600px) {

  #player-start-input {
    font-size: 3em;
  }

  #center-nums {
    font-size: 4em;
  }

}